body {
    font-family: Arial, sans-serif;
    margin: 40px;
}


audio {
  width: 100%;
  max-width: 300px;
}

img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.example {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1 1 300px;
}
